.parent{
  width: 600px;
  height: 300px;
  margin: 20px auto;
  padding: 10px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;

}
.parent div{
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  width: 32%;
  background-color: #F44336;
  color: white;
}