div{
  display: inline-block;
  padding: 20px;
  background-color: #ddd;
  border-width: 5px;
  outline: 5px solid #000;
  margin: 10px;
}
div:first-of-type{
  border-style: solid;
  border-color: red;
}
div:nth-child(2){
  border-style: solid;
  border-color: blue green;
}
div:last-of-type{
  border-style: dashed;
  border-color: red green blue yellow;
}